# The command that runs when you hit the run button
run = "pip install -r requirements.txt && python start_services.py"

# The primary language of the repl
language = "python3"

# The entry point for the repl
entrypoint = "main.py"

# Hidden files
hidden = ["venv", ".config", "**/__pycache__", "**/.mypy_cache", "**/*.pyc"]

# Hosting configuration
[deployment]
run = ["sh", "-c", "pip install -r requirements.txt && python start_services.py"]
deploymentTarget = "cloudrun"